<tr class="<%= row_class %>" data-controller="expandable" data-expandable-collapsed-class="whitespace-nowrap" data-action="click->expandable#expand">
  <td class="cell-condensed" data-expandable-target="expandable"><%= @webhook_delivery.id %></td>
  <td class="cell-condensed" data-expandable-target="expandable"><%= @webhook_delivery.status %></td>
  <td class="cell-condensed" data-expandable-target="expandable"><%= @webhook_delivery.url %></td>
  <td class="cell-condensed" data-expandable-target="expandable"><%= @webhook_delivery.attempts %></td>
  <td class="cell-condensed font-mono" data-expandable-target="expandable"><%= @webhook_delivery.last_response_code %></td>
  <td class="cell-condensed font-mono" data-expandable-target="expandable"><%= @webhook_delivery.last_response %></td>
  <td class="cell-condensed font-mono" data-expandable-target="expandable"><%= @webhook_delivery.payload %></td>
</tr>
