<tr data-controller="expandable" data-expandable-collapsed-class="whitespace-nowrap" data-action="click->expandable#expand">
  <td class="cell-condensed" data-expandable-target="expandable"><%= id %></td>
  <td class="cell-condensed" data-expandable-target="expandable">
    <%= render status_badge %>
  </td>
  <td class="cell-condensed" data-expandable-target="expandable"><%= url %></td>
  <td class="cell-condensed" data-expandable-target="expandable"><%= attempts %></td>
  <td class="cell-condensed font-mono" data-expandable-target="expandable"><%= last_response_code %></td>
  <td class="cell-condensed font-mono" data-expandable-target="expandable"><%= last_response %></td>
  <td class="cell-condensed font-mono" data-expandable-target="expandable"><%= payload %></td>
</tr>
