<tr>
  <td><%= webhook_delivery.id %></td>
  <td><%= webhook_delivery.status %></td>
  <td><%= webhook_delivery.url %></td>
  <td><%= webhook_delivery.last_response_code %></td>
  <td><%= webhook_delivery.last_response %></td>
  <td><%= webhook_delivery.payload %></td>
</tr>
